body{
  height: 100%;
  overflow: hidden;
}
#root {
  height: 100%;
}

.App {
  text-align: center;
  flex-direction: row;
  padding: 10px 20px;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
}
.mainContainer{
  height: 100%;
}
.recommenderContainer {
  height: 100%;
}

/* .map-donut-container {
  left:-55px;
  top:-55px;
} */
.detail-donut-container{
  left:55px;
}

.accordion-body-details{
  padding: 20px 10px;
  position: relative;
}

.label-on-donut {
  position: absolute;
  top: 37%;
  left: 43%;
}
.scrollable-div{
  overflow-y: scroll;
  height: 550px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sliders-box  {
  border-width: 2px;
  border: solid;
  background-color: #fff;
  padding: 10px 10px 15px;
  margin-top: 10px;
    
}

.donut-button 
{
  border: none;
  background: none;
  left: -55px;
  top: -55px;
  position: relative;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
